TELEGRAM_BOT_TOKEN="SUSTITUIR"
TELEGRAM_ALLOWED_USER_IDS="SUSTITUIR"
GROQ_API_KEY="SUSTITUIR"
OPENROUTER_API_KEY="SUSTITUIR"
OPENROUTER_MODEL="openrouter/free"
DB_PATH="./memory.db"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
